@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    
}

body{
        /* border: 5px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
}
/* ----------------------------------------------------------------------------- */
/* pokedex */

.pokedex{
    width: 100%;
    padding: 3px; 
}

.pokemon__image{
    position: absolute;
    bottom: 50%;
    right: 40%;
    height: 18%;
}

.pokemon__data{
    /* border:3px solid rgb(60, 255, 0); */
    position: absolute;
    display: flex;
    bottom: 40%;
    right: 24%;
    font-weight: 600;
    font-size:clamp(2px, 5vw, 24px);
    color: #aaa;
}

.pokemon__name{
    /* border:3px solid rgb(132, 0, 255); */
    color: #3a444d;
    text-transform: capitalize;
}
main{
    /* border:3px solid red; */
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
/* ----------------------------------------------------------------------------- 
/* Campo de pesquisa */

.form{
    /* border: solid blue; */
    position: absolute;
    bottom: 26%;
    left: 12%;
    width: 65%;
    height: 7%;
}

.input__search{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 4%;
    border: 2px solid #333;
    border-radius:5px;
    font-weight: 700;
    font-size:clamp(2px, 5vw, 1rem);
    box-shadow: -0.2em 0.2em 0px #888888, -0.3em 0.4em 0px #333;
    outline: none;
}
/* ----------------------------------------------------------------------------- 
/* Botoes  */

.buttons{
    /* border: solid blue; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 7.5%;
    left: 10%;
    width: 70%;
    height: 7%;
    
}

.button{
    align-items: center;
    font-weight: 600;
    color: white;
    background: #3b3b3b;
    border: 2px solid black;
    border-radius: 5px;
    font-size:clamp(8px, 5vw, 1rem);
    width: 45%;
    padding: 4%;
    cursor: pointer;
    
    transition: box-shadow 0.2s ease-out;
}

.button_in{
    box-shadow:inset -0.2em 0.2em 0px #222;
    
}

.button_in:active{
    box-shadow: inset 0em 0em 0px #222;
    width: 44%;
    font-size:0.85em; 
} 


 .button_out{
    box-shadow: -0.2em 0.2em 0px #222, -0.3em 0.3em 0px #000000;
    
}
.button_out:active{
    box-shadow: 0em 0em 0px #222;
    width: 44%;
    font-size:0.85em; 
} 

